@import '../../styles/variables.scss';


.welcome-container {
    
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
  
    
    .welcome-body {
        transform: translateY(5rem);
        opacity: 0;
        animation: $site-fade-in-time ease-out 2s 1 fadeInFromDirection forwards;

        color: whitesmoke;
        background-color: rgba(128, 128, 128, 0.6);

        
        height: fit-content;

        padding: 2rem;
        margin-top: 1rem;

        border: 0.5rem solid rgba(169, 169, 169, 0.6);
        border-radius: 5rem;

        text-align: center;
        

        h2 {
            margin-bottom: 0.5rem;
            font-size: 34px;
        }
    }
}

@media only screen and (min-width: 700px) {
    // computer screens
    .welcome-body {
        width: 50rem;
        font-size: 24px;
    }
};
  
@media only screen and (max-width: 701px) {
    // phone screens
    .welcome-body {
        width: 15rem;
        font-size: 20px;
        margin-bottom: 3rem;
    }
};