

.navbar {
    background-color: transparent;

    .navbar-title {
        font-family: COE;
        font-size: 3.5rem;
    
        b {
            color: rgb(255, 166, 0);
        }
    }

    .navbar-line {
        background-color: black;

    }

}