
@keyframes darken-background {
    to {
        opacity: .7;
    }
}


.background {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("./../../assets/video/ark.gif");
    background-repeat: no-repeat;
    background-size: 100% auto;

    background-position: 0 33%;

    animation: 5s ease 2s 1 darken-background forwards;
    
}

// @media only screen and (min-width: 1300px) {
//     // computer screens
//   };
  
@media only screen and (max-width: 1301px) {
    // phone screens
    .background {
        background-repeat: repeat-y
    }
};